@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
*{box-sizing: border-box;}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    //background: rgba(221, 190, 134, 0.15);
}

footer {
    text-align: center;
    padding: 40px 3px 3px;
}

nav {
    background: rgb(145, 14, 14);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid rgba(221, 190, 134, 0.79);
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FEFDFD;
    letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a:hover {color: #ddbe86;}
.topmenu .fa,
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}
.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.submenu li {position: relative;}
.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.content{
    min-width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 10px 10px;
    background: white;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 14px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active_dot, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
